.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
}

.left-nav > ul,
.right-nav > ul {
}

.left-nav > ul > li {
  display: inline;
  font-family: $sans-serif;
  text-transform: uppercase;
  margin: 10px;
  padding: 5px;
}

.right-nav > ul > li {
  font-weight: bold;
  display: inline;
  font-family: $sans-serif;
  text-transform: uppercase;
}

.right-nav > ul > li:last-of-type {
  font-size: 16px;
  padding: 5px;
  // margin: 5px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
  border-radius: 5px;
}

.left-nav span {

}


.right-nav i {
}
