/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my stuff*/

body {
    display: flex;
    justify-content: center;
    text-align: center;
}

div {
    margin: 20px;
    padding: 10px;
}

.clock {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    font-family: 'Playfair Display SC', serif;    
    background-color: violet;
    color: black;
}

.tab.active {
    background-color: blue;
}

.tabs-widget {
    background-color: gold;
}

.search-widget {
    background-color: mediumslateblue;
}

.example-enter {
    font-size: 2px;
    /* opacity: 0.01; */
}

.example-enter.example-enter-active {
    opacity: 1;
    font-size: 16px;
    transition: font-size 400ms ease-in;
}

.example-leave {
    opacity: 1;
    font-size: 16px;
}

.example-leave.example-leave-active {
    /* opacity: 0.01; */
    font-size: 2px;
    transition: font-size 400ms ease-in;
}

.search-widget {
    font-size: 16px;
}

.weather-widget {
    background-color: turquoise;
}